<h1>Listing vote_issues</h1>

<table>
  <tr>
    <th>Vote</th>
    <th>Issue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vote_issues.each do |vote_issue| %>
  <tr>
    <td><%= vote_issue.vote_id %></td>
    <td><%= vote_issue.issue_id %></td>
    <td><%= link_to 'Show', vote_issue %></td>
    <td><%= link_to 'Edit', edit_vote_issue_path(vote_issue) %></td>
    <td><%= link_to 'Destroy', vote_issue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote issue', new_vote_issue_path %>
